PORT=5000

# Agar aap local MongoDB use kar rahe hain:
MONGODB_URI=mongodb://localhost:27017/finance_reconciliation

# Agar aap MongoDB Atlas (cloud) use kar rahe hain toh aise link daalein:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/finance_reconciliation?retryWrites=true&w=majority

# Python FastAPI engine ka URL
PYTHON_ENGINE_URL=http://localhost:8000